  <td class="text-left">
  		<%=object.name%>
  </td>
    <td class="text-left">
    <%=object.batch_type.nil? ? "":object.batch_type.name%>
  </td>
  <td class="text-center">
    <%=object.clonenb.nil? ? "":object.clonenb%>
  </td>
  <td class="text-center">
    <%=object.passagenb.nil? ? "":object.passagenb%>
  </td>
  <td class="text-center">
    <%=object.vials.count%>
  </td>
  <td class="actions text-right">
    <div class="aligned-div">
    <a tabindex="0" data-toggle="popover" data-placement="left" data-trigger="focus" data-html = "true" data-container="body"
                        title='
                          <div class="row"> 
                            <div class="col-xs-9 text-left">
                              <strong><%=object.name%></strong>
                            </div>
                          </div>'
                        data-content='
                          <div class="col-xs-12 text-left">
                            <small>
                            <strong>Type : </strong><%= object.batch_type.nil? ? "-" :  object.batch_type.name.capitalize() %> <br />
                            <strong>Patient : </strong><%= object.patientnb.nil? ? "-" :  object.patientnb%><br />
                            <strong>Clone : </strong><%= object.clonenb.nil? ? "-" :  object.clonenb%><br />
                            <strong>Correction : </strong><%= object.corrected.nil? ? "-" :  boolean_to_human(object.corrected)%><br />
                            <strong>Technique : </strong><%= object.technique.nil? ? "-" :  object.technique%><br />
                            <strong>Description : </strong><%= object.description.blank? ? "-" : object.description %><br />
                            <strong>Number of vials : </strong><%= object.vials.count || "-" %><br />
                            <%unless object.vials.empty? %>
                            <strong>Vials : </strong><br />
                            <table class="table table-bordered">
                              <thead>
                                <th>Name</th>
                                <th>Container</th>
                                <th>Rack</th>
                                <th>Box</th>
                                <th>Position</th>
                              </thead>
                              <tbody>
                                <%object.vials.each do |vial|%>
                                  <td><%=vial.name.nil? ? "-": "#{link_to vial.name, vial_path(vial)}" %></td>
                                  <td><%=(vial.position.nil? || vial.position.box.rack_position.nil? || vial.position.box.rack_position.shelf_rack.nil? || vial.position.box.rack_position.shelf_rack.shelf.nil? || vial.position.box.rack_position.shelf_rack.shelf.container.nil? ) ? "-":vial.position.box.rack_position.shelf_rack.shelf.container.name%></td>
                                  <td class="text-center"><%=(vial.position.nil? || vial.position.box.rack_position.nil? || vial.position.box.rack_position.shelf_rack.nil?) ? "-":vial.position.box.rack_position.shelf_rack.name%></td>
                                  <td>
                                    <%unless vial.out?%>
                                      <%=vial.position.box.nil? ? "-":vial.position.box.name%>
                                    <%else%>
                                    out
                                    <%end%>
                                  </td>
                                  <td class="text-center"><%=vial.position.nil? ? "-":(vial.position.nb+1).to_s+" ("+vial.position.name.upcase+")"%></td>
                                  <tr> 
                                <%end%>
                                
                              </tbody>  
                            <%end%>
                            </small>
                          </div>
                        '
                      >
                          <div class="center">
                           <small><i class="fas fa-eye" data-id="<%=object.id %>"></i></small><br/>
                          </div>
                </a>
              </div>
<div style="display: inline-block;">
      <%= link_to "<i class='fa fa-sticky-note'></i>".html_safe, batch_path(object), method: :get %>
  <% if can? :cru, Batch %>
      <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_batch_path(object), method: :get %> 
  <%end%> 
  <% if can? :destroy, Batch %>
      <%= link_to "<i class='fas fa-trash'></i>".html_safe, batch_path(object), method: :delete, data: { confirm: 'Are you sure you want to destroy this batch ? Every related vial will be destroyed too.' } %> 
  <%end%>
</div>
  </td>
