<h3>
  <%= content_for :title, User.model_name.human %>
</h3>
<%= simple_form_for @user, remote: false do |f| %>
    <%= f.error_notification %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
    <div class="container">
   <div class="row margin-top-row-20">
   		<div class="col-xs-6">
    			<%=f.input :firstname, label: "First name", required: true, input_html:  {class: "col-xs-12"}%>
   	 	</div>
   	 	<div class="col-xs-6">
    			<%=f.input :lastname, label: "Last name", required: true, input_html:  {class: "col-xs-12"}%>
    		</div>
  </div>
   <div class="row margin-top-row-20">
   		<div class="col-xs-12">
    			<%= f.association :teams, label: "Teams",
    									collection: Team.all,
									label_method: lambda { |team| "#{team.name}"},
									prompt: 'Select a team.',
									input_html:  {class: "select2-select col-xs-12"},
									include_blank: false,
									include_hidden: false,
									required: true
									 %>
		</div>
  </div>
  <div class="row margin-top-row-20">
		<div class="col-xs-12">
    			<%= f.input :email, label: "E-mail", required: true, input_html:  {class: " col-xs-12"}%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
        <%= f.input :role,
        collection: ["administrator", "user", "guest"],
        required: true, 
        input_html:  {class: "select2-select col-xs-12"}%>
      </div>
 </div>
<% if (params[:action] == "new") && (['superadmin'].include? current_user.role) %>
 <div class="row margin-top-row-20">
	<div class="col-xs-6">
  		<% if @minimum_password_length %>
  				<em>(<%= @minimum_password_length %> characters minimum)</em>
  		<% end %>
	    <%= f.input :password, required: true, input_html:  {class: " col-xs-12"}%>
    		<%= f.input :password_confirmation, required: true, input_html:  {class: " col-xs-12"} %>
    	</div>
  </div>
  <%end%>

  <div class="row margin-top-row-20">
  	<div class="btn-group">
    <%= f.submit :class => "btn btn-default" %>
    <%= link_to t(".back"), users_path, :class => "btn btn-default" %>
    </div>
  </div>
  </div>
<% end %>

