<td class="text-left">
    <div class="<%=object.set_color_from_status%>">
  		<%=object.name%>
    </div>
  </td>

    <td class="text-left"> <%=object.exit_date.nil? ? "Unknown" : object.exit_date.strftime("%h %e, %Y ") %> </td>
    <td class="text-left"> <%=object.user.nil? ? "Unknown" : object.user.full_name %> </td>

<td class="actions text-right" margin: auto auto auto auto; word-wrap: break-word;">
    <a tabindex="0" data-toggle="popover" data-placement="left" data-trigger="focus" data-html = "true" data-container="body"
                        title='
                          <div class="row"> 
                            <div class="col-xs-9 text-left">
                              <strong><%=object.name%></strong>
                            </div> 
                          </div>'
                        data-content='
                          <div class="col-xs-12 text-left">
                            <small>
                            <strong>Barcode : </strong><%= object.barcode.blank? ? "-" : object.barcode %><br />

                            <strong>Type : </strong><%= object.batch.nil? ? "-" :  object.batch.batch_type.name.capitalize() %> <br />

                            <strong>Freezing date : </strong><%= object.freezing_date.nil? ?  "-" : object.freezing_date.strftime("%h %e, %Y ") %><br />
                            <strong>Patient # : </strong><%= (object.batch.nil? || object.batch.patientnb.nil?) ? "-" : object.batch.patientnb %><br />
                            <strong>Clone  #: </strong><%= (object.batch.nil? || object.batch.clonenb.nil?) ? "-" : object.batch.clonenb %><br />
                            <strong>User : </strong><%= (object.batch.nil? || object.batch.user.nil?) ?  "-" : object.batch.user.full_name %><br />
                            <strong>Clone : </strong><%= (object.batch.nil? || object.batch.corrected.nil?) ? "-" :  object.batch.corrected %> <br />
                            <strong>Culture : </strong><%= (object.batch.nil? || object.batch.culture.nil?) ? "-" :  object.batch.culture %> <br />
                            <strong>Passage : </strong><%= (object.batch.nil? || object.batch.passagenb.nil?) ? "-" :  object.batch.passagenb %> <br />
                            <strong>Corrected : </strong><%= (object.batch.nil? || object.batch.corrected.nil?) ? "-" :  object.batch.technique %> <br />
                            <strong>Vial description : </strong><%= (object.batch.nil? || object.batch.description.blank?) ? "-" : object.batch.description %><br />
                            <strong>Volume : </strong><%= object.volume.nil? ? "-" : object.volume %><br />
                            <strong>Box : </strong><%= object.position.nil? ? "-" : object.position.box.name %> <br />

                            <strong>Slot : </strong><%= object.position.nil? ? "-" : object.position.name.upcase() %> <br />
                            <strong>Comments : </strong><%= object.comment.blank? ? "-" : object.comment %><br />
                            <%if object.out%>
                                  <strong>Exit date : </strong><%= object.exit_date.nil? ?  "-" : object.exit_date.strftime("%h %e, %Y ") %><br />

                                  <strong>Client : </strong><%= object.user.nil? ?  "-" : object.user.full_name %><br />
                            <%end%>

                            </small>
                          </div>
                        '
                      >
                   
                            <small><i class="fas fa-eye" data-id="<%=object.id %>"></i></small>
                      </a>  
                      
<% if can? :cru, Vial %>
      <small><%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_vial_path(object), method: :get %></small>
  <%end%>
<%= link_to "<i class='fa fa-sticky-note'></i>".html_safe, vial_path(object), method: :get %>
<%if can? :destroy, Vial %>
<small><%= link_to "<i class='fas fa-trash'></i>".html_safe, vial_path(object), method: :delete, data: { confirm: 'Are you sure you want to destroy this vial ?' } %></small>
<%end%>
  </td>

