<td class="text-left">
  	<%if object.position %>
  		<%box = object.position.box%>
  		<%=link_to "#{object.name}", box_fetch_position_path(:vial_id=>object.id, :box_id => box.id), :remote => true %>
  	<%else%>
    <div class="<%=object.set_color_from_status%>">
  		<%=object.name%>
    </div>
  	<%end%>
</td>
<td class="actions text-right" margin: auto auto auto auto; word-wrap: break-word;">
    <a tabindex="0" data-toggle="popover" data-placement="left" data-trigger="focus" data-html = "true" data-container="body"
                        title='
                          <div class="row"> 
                            <div class="col-xs-9 text-left">
                              <strong><%=object.name%></strong>
                            </div> 
                          </div>'
                        data-content='
                          <div class="col-xs-12 text-left">
                            <small>
                            <strong>Barcode : </strong><%= object.barcode.blank? ? "-" : object.barcode %><br />

                            <strong>Type : </strong><%= object.batch.nil? ? "-" :  object.batch.batch_type.name.capitalize() %> <br />

                            <strong>Freezing date : </strong><%= object.freezing_date.nil? ?  "-" : object.freezing_date.strftime("%h %e, %Y ") %><br />
                            <strong>Patient # : </strong><%= object.batch.patient_nb.nil? ? "-" : object.batch.patient_nb %><br />
                            <strong>Clone  #: </strong><%= object.batch.clone_nb.nil? ? "-" : object.batch.clone_nb %><br />
                            <strong>User : </strong><%= object.batch.user.nil? ?  "-" : object.batch.user.full_name %><br />
                            <strong>Volume : </strong><%= object.volume.nil? ? "-" : object.volume %><br />
                            <strong>Box : </strong><%= object.position.nil? ? "-" : object.position.box.name %> <br />

                            <strong>Slot : </strong><%= object.position.nil? ? "-" : object.position.name.upcase() %> <br />
                            <strong>Comments : </strong><%= object.comment.blank? ? "-" : object.comment %><br />
                            <%if object.out%>
                                  <strong>Exit date : </strong><%= object.exit_date.nil? ?  "-" : object.exit_date.strftime("%h %e, %Y ") %><br />

                                  <strong>Client : </strong><%= object.user.nil? ?  "-" : object.user.full_name %><br />
                            <%end%>

                            </small>
                          </div>
                        '
                      >
                   
                            <small><i class="fas fa-eye" data-id="<%=object.id %>"></i></small>
                      </a>  

<% if can? :manage, Vial %>
      <small><%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_vial_path(object), method: :get %></small>
  <%end%>
  </td>
