<h3>
  <%= content_for :title, Vial.model_name.human %>
</h3>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading"><h4><%= @vial.name %></h4></div>
		<div class="panel-body">
	  	<div class="row margin-top-row-20">
			<div class="col-xs-4">
				<strong>Barcode : </strong><%= @vial.barcode.blank? ? "None" : @vial.barcode %>
			</div>
			<div class="col-xs-4">
  				<strong>Batch : </strong><%= @vial.batch.nil? ? "No batch" : @vial.batch.name %>
			</div>
		</div>
		<div class="row margin-top-row-20">
	  		<div class="col-xs-12">
	  			<strong>Volume in µL : </strong><%= @vial.volume.nil? ? "Unknown" : @vial.volume %>
	  		</div>
	  	</div>
	  	<div class="row margin-top-row-20">
			<div class="col-xs-5">
				<strong>Comment : </strong><%= @vial.comment.blank? ? "No comment" : @vial.comment %>
			</div>
		</div>
		<div class="row margin-top-row-20">
			<div class="col-xs-3">
				<strong>Status : </strong><%= @vial.out? ? "This vial is out." : "This batch is in store." %>
			</div>
		<%if @vial.out?%>
			<div class="col-xs-4 ">
				<strong>Date of release : </strong><%= @vial.exit_date.nil? ? "Unknown" : @vial.exit_date.strftime("%B %e, %Y") %>
			</div>
			<div class="col-xs-5 ">
				<strong>Client : </strong><%=@vial.user.nil? ? "Unknown" : @vial.user.full_name %>
			</div>
		<%end%>
		</div>
</div>
</div>
<div class="row margin-top-row-20">
 		<div class="btn-group" role="group" aria-label="...">
        	<% if can? :manage, Vial%>
		    		<%= link_to 'Edit', edit_vial_path(@vial), :class => "btn btn-default" %>
		    	<%end%>
        </div>
</div>
</div>
