<h3>Profile <%=@user.full_name%></h3>
	<div class="container-fluid">
		<div class='panel panel-primary'>
			<div class="panel-heading">Contact information</div>
			<div class="panel-body">
				<div class="container">
					<div class="col-xs-12">
						<%=render :partial => "users/components/user", :locals => {:user => @user}  %>
					</div>

					<div class="col-xs-12 ext-right">
						<%if @user == current_user%>
							<%= link_to "Edit my profile", edit_user_path(current_user.id), method: :get, :class => "btn btn-default"%>
							<%= link_to "Back", users_path, class: "btn btn-default" %>
						<%elsif ["superadmin", "administrator"].include? current_user.role %>
							<%= link_to "Edit", edit_user_path(@user), method: :get, class: "btn btn-default"%>
							<%= link_to "Back", users_path, class: "btn btn-default" %>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>