<%if container%>
   <%if container.container_type_id == 2%>
    <% container.shelves.each do |shelf| %>
      <div class="row">
          <div class="col-xs-1 container_shelf_label_small">Shelf <%=shelf.name%></div>
           <% shelf.shelf_racks.each do |rack| %>
                  <div class="col-xs-1 rack btn" id=<%=rack.name%> data-id=<%=rack.id%> style="  min-width: 40px;
                    min-height: 80px;
                    max-width: 40px;
                    max-height: 80px;
                    text-align: center;
                    border: 1px solid black;
                    border-radius: 2px; 
                    padding: 0 0 0 0;
                    margin: 1% 1% 0% 0%;
                    background-color: #337ab7;
                    font-size: 85%">
                        <div class="text-left" style="margin: 0 0 0 5%; color: white;">
                          rack#<%=rack.name%>
                        </div>
                  </div>
            <%end%>
        </div>
      <%end%>
    <%else%>
  <% container.shelves.each do |shelf| %>
    <div style="display: inline-block; text-align: middle; margin: 0 0 0 0;">
         <% shelf.shelf_racks.each do |rack| %>
                <div class="rack" style="  min-width: 70px;
                  min-height: 70px;
                  max-width: 70px;
                  max-height: 70px;
                  border: 1px solid black;
                  border-radius: 2px; 
                  padding: 0 0 0 7% ;
                  margin: 0 0 5% 0 ;
                  background-color: #337ab7;
                  font-size: 90%;
                  text-align: center;
                  color: white;" 
                  id=<%=rack.name%> data-id=<%=rack.id%> >
                  <div class="text-left" style="margin: 0 0 0 5%; color: white;">
                    rack#<%=rack.name%>
                  </div>
                </div>
          <%end%>
    </div>
  <%end%>
<%end%>
<%end%>