    <h5>Side view</h5>
    <%col_class = "col-xs-"+(12/container.shelves.count).to_s %>
    <% container.shelves.each do |shelf| %>
    <div style="display: inline-block; text-align: middle; margin: 0 0 0 0;">
       <% shelf.shelf_racks.each do |rack| %>
              <div class="container_rack_row">
                    
                    <div class="text-left text-primary container_rack_label">
                      rack#<%=rack.name%>
                    </div>


                <%rack.rack_positions.each do |position|%>
                 <% box_id = position.box.nil? ? "":position.box.id%>
                <% bg_color = position.box.nil? ? "":position.box.color.code %>
                    <%unless position.box.nil?%>
                    <%=link_to fetch_box_box_path(box_id), remote: true do%>
                        <div class = "col-xs-11 container_rack_position_row" style="background-color: <%=bg_color%>;" data-id="<%=box_id%>">
                        </div>
                        <div class="col-xs-1 " style="font-size: 75%; padding: 0 2% 0 2%;"><%=position.name%>
                        </div>
                    <%end%>
                    <%else%>
                        <div class = "col-xs-11 container_rack_position_row">
                        </div>
                    <%end%>
  
                <%end%>
     
        </div>
        <%end%>
    </div>
    <%end%>