    <h5>Side view</h5>
    <%col_class = "col-xs-"+(12/container.shelves.count).to_s %>
    <% container.shelves.each do |shelf| %>
    <div style="display: inline-block; text-align: middle; margin: 0 0 0 0;">
        <center><strong>col. <%=shelf.name%></strong></center>
       <% shelf.shelf_racks.each do |rack| %>
              <div style="  min-width: 70px;
                          min-height: 200px;
                          max-width: 70px;
                          max-height: auto;
                          text-align: center;
                          border: 1px solid black;
                          border-radius: 2px; 
                          padding:0;
                          margin-left: 1%;
                          margin-right: 1%;
                          margin-top: 2%;
                          margin-bottom: 2%;">
                    
                    <div class="text-left text-primary" style="margin: 0 0 0 5%;">
                      rack#<%=rack.name%>
                    </div>


                <%rack.rack_positions.each do |position|%>
                 <% box_id = position.box.nil? ? "":position.box.id%>
                <% bg_color = position.box.nil? ? "":position.box.color.code %>
                    <%unless position.box.nil?%>
                    <%=link_to fetch_box_box_path(box_id), remote: true do%>
                        <div class = "col-xs-11 container_rack_position_row" style="background-color: <%=bg_color%>;" data-id="<%=box_id%>">
                        </div>
                        <div class="col-xs-1 " style="font-size: 75%; padding: 0 2% 0 2%;"><%=position.name%>
                        </div>
                    <%end%>
                    <%else%>
                        <div class = "col-xs-11 container_rack_position_row">
                        </div>
                    <%end%>
  
                <%end%>
     
        </div>
        <%end%>
    </div>
    <%end%>