
<p id="notice">
  <%= notice %>
</p>
<div class="col-xs-12">
<div class="panel panel-defaul">
  <div class="panel-heading">
    <h3 class="text-primary"><%= @container.name%></h3>
    <h4 class="text-primary">Type : <%= @container.container_type.name %></h4>
  </div>

<div class="panel-body">
<div class="container-fluid" style="min-width: 1200px; max-width: 1200px;">
  <%if @container.shelves.count > 0%>
      <div class="col-xs-12">
        <%=render partial: 'containers/components/map', locals: {container: @container}%>
      </div>
      </div>
  <%end%>
</div>
</div>
</div>
<%= link_to 'Edit', edit_container_path(@container) %>
<%= link_to 'Back', containers_path %>
