			<div class="panel panel-default">
				<div class="panel-heading">Boxes</div>
			<div class="panel-body out-slot" style="height: 500px;overflow: auto;">
				<div class="row" >
					<div class="col-xs-12 draggableContainer">
						<table>
							<% @arr.each do |elt|%>
								<tr>
									<% elt.each do |box|%>
									<td>
										<div class="col-xs-12 text-center">
											<i class="draggable fas fa-th " style="color: <%=box.color.code%>;" data-id="<%=box.id %>"/></i><br/>
											<a tabindex="0" data-toggle="popover" data-trigger="focus" data-html = "true" data-container="body"
												title='
													<div class="row"> 
														<div class="col-xs-12">
															<strong><%=box.name%></strong>
														</div>
														<div class="col-xs-12 right">
																<%= link_to "Edit", edit_box_path(box), :class =>"btn btn-primary btn-xs font80pc", :remote => false %>
																<%= link_to "Discard", box, :method => :delete, :class =>"btn btn-danger btn-xs font80pc", :title=>"Discard box", :remote => false %>
														</div>	
													</div>'
												data-content='
													<div class="col-xs-12">
														<small>
														<%=box.recap.nil? ? "-" : box.recap%>
														</small>
													</div>
												'
											>
														<div class="col-xs-12" data-id="<%=box.id %>" style="color: <%=box.color.code%>;">
															<small><small><%= box.barcode.truncate(10) %></small></small>
														</div>	

											</a>	
											</div>
									</td>
								<%end%>
								</tr>
								<%end%>
							</table>
						</div><!--End of col-lg-3-->
					</div><!--End pf row-->
				</div><!--End of panel body-->
			</div><!--End of panel-->

