<div class="panel panel-default">
<div class="panel-heading text-left"><%= vial.name.nil? ? "-" : vial.name %></div>
<div class="panel-body text-left">
	<small>
	<div class="col-lg-6">
		<strong>Barcode : </strong><%= vial.barcode.nil? ? "-" : vial.barcode %><br />
		<strong>Date : </strong><%= vial.date.nil? ?  "-" : vial.date.strftime("%h %e, %Y ") %><br />
	</div>
	<div class="col-lg-6">
		<strong>Volume : </strong><%= vial.volume.nil? ? "-" : vial.volume %> µL<br />
		<strong>Box : </strong><%= vial.position.nil? ? "-" : vial.position.box.name %> <br />
		<strong>Slot : </strong><%= vial.position.nil? ? "-" : vial.position.name.upcase() %> <br />
		<% if !vial.comment.blank? %>
			<strong>Comments : </strong><br /><%= vial.comment || "-" %><br />
		<%end%>
	</div>
	</small>
</div>
<div>
