<%source = "/batches/"+@batch.id.to_s%>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading"><h4><%= @batch.name %></h4></div>
		<div class="panel-body">
			<div class="row margin-top-row-20">
			<div class="col-xs-3 ">
				<strong>Type : </strong><%=@batch.batch_type.nil? ? "Unknown" : @batch.batch_type.name%>
			</div>
			<div class="col-xs-3">
				<strong>Patient : </strong><%=@batch.patientnb.nil? ? "-" : @batch.patientnb%>
			</div>
			<div class="col-xs-3">
				<strong>Number of vials : </strong><%=@batch.vials.nil? ? "-" : @batch.vials.count%>
			</div>
		</div>
		<div class="row margin-top-row-20">
			<div class="col-xs-3">
				<strong>Clone : </strong><%=@batch.clonenb.nil? ? "-" : @batch.clonenb%>
			</div>
			<div class="col-xs-3">
				<strong>Passage : </strong><%=@batch.passagenb.nil? ? "-" : @batch.passagenb%>
			</div>
			<div class="col-xs-3">
			<strong>Correction : </strong><%=@batch.corrected.nil? ? "-" : @batch.corrected %>
			</div>
			<div class="col-xs-3">
			<strong>Technique: </strong><%=@batch.technique.nil? ? "-" : @batch.technique %>
			</div>
	</div>
	<div class="row margin-top-row-20">
		<div class="col-xs-6">
			<strong>User : </strong><%=@batch.user.nil? ? "Unknown" : @batch.user.full_name %>
		</div>
	</div>
	<div class="row margin-top-row-20">
		<div class="col-xs-12">
			<strong>Description : </strong><%= @batch.description.blank? ? "-" : @batch.description %>
		</div>
	</div>
	<div class="row margin-top-row-20">
	<div class="col-xs-4 text-center" style="overflow: auto;">
			<div class="panel panel-default">
					<div class="panel-body">
						<%= render partial: 'vials/list_components/list', locals: {vials: @vials, source: source } %>
					</div>
			</div>
	</div>
	<div class="col-xs-8 text-center" style="overflow: auto;">
					<div id="map-container" class="col-xs-12 text-center">
					</div>
	</div>
	</div>

	</div>
	<div class="panel-footer">
	    			 <div class="btn-group" role="group" aria-label="...">
	    			 	<% if can? :manage, Batch %>
		    			<%= link_to 'Edit', edit_batch_path(@batch), :class => "btn btn-default" %>
		    			<%end%>
		    			<%= link_to 'Batches', batches_paths, :class => "btn btn-default" %>
		    		</div>
	 </div>

</div><!--End or panel-->
</div>