			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><%= "Vial".pluralize(@vials.length) %></strong>
				</div>
			<div class="panel-body out-slot" style="height: 500px;overflow: auto;">
				<div class="row" >
					<div class="col-lg-12">
						<table>
							<% @arr.each do |elt|%>
								<tr>
									<% elt.each do |v|%>
									<td>
										<div style="text-align: center;">
											<i class="fas fa-vial fa-2x <%=v.set_draggable%>" data-id="<%=v.id %>"></i><br/>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 draggableContainer center">
											<a tabindex="0" data-toggle="popover" data-trigger="focus" data-html = "true" data-container="body"
												title='
												<div style="width: 200px;"
													<div class="row"> 
														<div class="col-lg-8 text-left">
															<strong><%=v.name%></strong>
														</div>
														<div class="col-lg-4 right">
																<%= link_to "Edit", edit_vial_path(v), :class =>"btn btn-primary btn-xs font80pc", :remote => false %>
														</div>	
													</div>'
												data-content='
													<div class="col-lg-12 text-left">
														<small>
														<strong>Barcode : </strong><%= v.barcode.nil? ? "-" : v.barcode %><br />
														<strong>Freezing date : </strong><%= v.freezing_date.nil? ?  "-" : v.freezing_date.strftime("%h %e, %Y ") %><br />
														<strong>Volume : </strong><%= v.volume.nil? ? "-" : v.volume %><br />
														<strong>Box : </strong><%= v.position.nil? ? "-" : v.position.box.name %> <br />
														<strong>Slot : </strong><%= v.position.nil? ? "-" : v.position.name.upcase() %> <br />
														<strong>Comments : </strong><br /><%= v.comment || "-" %><br />
														</small>
													</div>
												</div>
												'
											>
													<div class="center">
														<small><small><%= v.name%></small></small>
													</div>
											</a>	
											</div>
									</td>
								<%end%>
								</tr>
								<%end%>
							</table>
						</div><!--End of col-lg-3-->
					</div><!--End pf row-->
				</div><!--End of panel body-->
			</div><!--End of panel-->

