<h3>
  <%= content_for :title, Vial.model_name.human %>
</h3>
<%= simple_form_for @vial, html: {class: 'vertical-form'} do |f|  %>
	<%= f.error_notification %>
	    <ul>
    <% @vial.errors.full_messages.each do |message| %>
    <li style="color: red;"><%= message %></li>
    <% end %>
  </ul>
  <%= hidden_field_tag :source, params[:source] %>
	<div class="container">
	  	<div class="row margin-top-row-20">
			<div class="col-xs-4">
				<%=f.input :name, :input_html => { :value => f.object.name || @name, class: 'col-xs-12' } %>
			</div>

			<div class="col-xs-4">
				<%=f.input :barcode, input_html: { class: 'col-xs-12' } %>
			</div>
			<div class="col-xs-4 ">
				<%=f.input :freezing_date, :as => :string, :input_html => { :value => (f.object.freezing_date.strftime("%B %e, %Y") if f.object.freezing_date), "data-behaviour" => "datepicker", class: 'col-xs-12'} %>
			</div>
		</div>
		<div class="row margin-top-row-20">
			 <div class="col-xs-6">
  				<%=f.association :batch, :label => "Batch", :collection => Batch.all, :placeholder => "Select a batch.", input_html: { class: 'select2-select col-xs-12' }%>
			</div>
		</div>
		<div class="row margin-top-row-20">
	  		<div class="col-xs-2">
	  			<%= f.input :volume, :label => "Volume in µL: ", input_html: { class: 'col-xs-12' }%>
	  		</div>
			<div class="col-xs-5">
				<%= f.input :comment, :label => "Comment :", input_html: { class: 'col-xs-12' } %>
			</div>
		</div>
<% if action_name == 'edit' %>
		<div class="row margin-top-row-20">
			<div class="col-xs-2">
				<%= f.input :out, :label => "Out of stock"%>
			</div>
			<div class="col-xs-4 ">
				<%=f.input :exit_date, :as => :string, :input_html => { :value => (f.object.exit_date.strftime("%B %e, %Y") if f.object.exit_date), "data-behaviour" => "datepicker"} %>
			</div>
			<div class="col-xs-6">
			<%=f.association :user, label: "Client",collection: User.all.where.not(role: "superadmin"), label_method: lambda { |user| "#{user.firstname} #{user.lastname}"}, input_html: {class: "select2-select col-xs-12"}%>
			</div>
		</div>
		</div>
	</div>
<%end%>
<div class="row margin-top-row-20">
 		<div class="btn-group" role="group" aria-label="...">
    		<%= f.submit("Save", :class => "btn btn-default", :title => "Save") %>
        	<%= link_to "Cancel", @vial,:class => "btn btn-default", "aria-hidden" => "true" %>
        	<% if can? :manage, Vial%>
		    		<% if params[:action] == 'edit' %>
		    		<%= link_to 'Destroy', @vial, method: :delete, data: { confirm: 'Are you sure you want to do that ?' }, :class => "btn btn-default" %>
		    		<%end%>
		    	<%end%>
        </div>
</div>
<% end %>
