<h3>
  Add/modify vials to batch <%=@batch.name%>
</h3>
<%= simple_nested_form_for (@batch), url: update_vials_batch_path, html: {class: 'vertical-form'} do |f|  %>
	<%= f.error_notification %>
	
<div class="container">
	<%= f.simple_fields_for :vials, f.object.vials.order(:id) do |ff| %>
	<div class="row margin-top-row-20">
	<div class="panel panel-default">
		<div class="panel-body">
			  	<div class="row">
					<div class="col-xs-6">
						<%=ff.input :name, :input_html => {class: 'col-xs-12'} %>
					</div>
					<div class="col-xs-3">
						<%=ff.input :barcode, input_html: { class: 'col-xs-12' } %>
					</div>
				</div>

				<div class="row margin-top-row-20">
			  		<div class="col-xs-2">
			  			<%= ff.input :volume, :label => "Volume in µL: ", input_html: { class: 'col-xs-12' }%>
			  		</div>
			  	</div>
			  	<div class="row margin-top-row-20">
					<div class="col-xs-12">
						<%= ff.input :comment, :label => "Comment :", input_html: { class: 'col-xs-12' } %>
					</div>
				</div>
			<% if can? :manage, Vial%>
				<div class="row margin-top-row-20">
					<div class="col-xs-4">
						<%=ff.input :out, :label => "Sample is out", input_html: {class: "col-xs-12"} %>
					</div>
					<div class="col-xs-4 ">
						<%=ff.input :exit_date, :as => :string, :input_html => {"data-behaviour" => "datepicker", class: 'col-xs-12'} %>
					</div>
					<div class="col-xs-4">
					<%=ff.association :user, label_method: lambda { |user| "#{user.firstname} #{user.lastname}"}, input_html: {class: "select2-select col-xs-12"}%>
					</div>
				</div>
				<div class="row margin-top-row-20">
					<div class="col-xs-6">
					<div class="text-info"><strong>Current location :</strong></div>
	  				<div class="text-primary"><%= ff.object.position ? "Box : #{ff.object.position.box.name} / Slot : #{ff.object.position.nb+1}" : "No position" %></div>
	  			<div><%= ff.association :position, label: "Location", :collection => Position.all.is_empty, label_method: lambda { |object| "#{object.box.name} #{object.nb+1}"}, :placeholder => "Select a position", input_html: { class: 'select2-select col-xs-12' }%>
				</div>
			</div>
		</div>
			<div class="pull-right">
				<%= ff.link_to_remove "<i class='fa fa-trash'></i> ".html_safe %>
			</div>
			<%end%>
					
			</div>	
		</div>
	</div>
				 <%end%>
				<% if can? :manage, Vial%>
				<div style="margin-bottom: 20px;">
				 	<%= f.link_to_add "<i class='fas fa-plus'></i>".html_safe, :vials, :class => "btn btn-default pull-right" %>
				 </div>
				 <%end%>
</div>

<div class="row">
 		<div class="btn-group" role="group" aria-label="...">
    		<%= f.submit("Save", :class => "btn btn-default", :title => "Save") %>
    		<%= link_to 'Back', edit_batch_path(@batch), :class => "btn btn-default" %>
        	<%= link_to 'Cancel', @batch, method: :delete, data: { confirm: 'Are you sure you want to cancel this batch registration ?' }, :class => "btn btn-default" %>
        </div>
</div>
<% end %>
