<%= simple_form_for (@batch), html: {class: 'vertical-form'} do |f|  %>

<%= f.error_notification %>
<ul>
    <% @batch.errors.full_messages.each do |message| %>
    <li style="color: red;"><%= message %></li>
    <% end %>
</ul>
	<div class="container">
	<div class="row margin-top-row-20">
			<div class="col-xs-4">
				<%=f.input :name%>
			</div>
			<div class="col-xs-4 ">
				<%=f.association :batch_type, label_method: :name, :input_html => {class: "select2-select"} %>
			</div>
	</div>
	<div class="row margin-top-row-10">
		<div class="col-xs-4">
			<%=f.input :patientnb, label: "Patient #"%>
	</div>
	<div class="col-xs-4">
		<%=f.input :clonenb, label: "Clone #"%>
	</div>
	<div class="col-xs-4">
		<%=f.input :passagenb, label: "Passage #"%>
	</div>
</div>
	<div class="row margin-top-row-20">
		<div class="col-xs-6">
			<%=f.association :user, label_method: lambda { |user| "#{user.firstname} #{user.lastname}"}, :input_html => {class: "select2-select col-xs-12"}%>
		</div>
	</div>
	<div class="row margin-top-row-20">
		<div class="col-xs-12">
			<%=f.input :description, input_html: {class: "col-xs-12"}%>
		</div>
	</div>
	<div class="row margin-top-row-20">
		<div class="col-xs-4">
			<%= f.label "Culture method"%>
			<%= f.select(:culture, ['Feeder', 'Feeder free'], {:include_blank => " "}, {class: "col-xs-8 select2-select"}) %>
		</div>
		<div class="col-xs-2" >
			<%= f.input :corrected%>
		</div>
    	<div class="col-xs-6 row ghost-container" id="technique-container">
           <%= f.label "Correction technique"%>
			<%= f.select(:technique, ['CRISPR-Cas9', 'KI'], {:include_blank => " "}, {class: "col-xs-12 select2-select"}) %>
        </div>
    </div>
  </div>
</div>

	<div class="row margin-top-row-20">
		<%if params[:action]=='new'%>
		<div class="col-xs-3">
			<%=f.input :vial_nb, label: "Number of vials", input_html: {class: "col-xs-12"}%>
		</div>
		<%end%>
	</div>
</div>
<div class="margin-top-row-20">
	 	<div class="btn-group" role="group" aria-label="...">
	 			<%if controller_name == 'batches' && action_name == 'new'%>
	 				<%str = "Save & add vials"%>
	 			<%else%>
	 				<%str = "Save & update vials"%>
	 			<%end%>
	    		<%= f.submit(str, :class => "btn btn-default", :title => "Save") %>
	    			<% if can? :manage, Batch%>
		    			<% if params[:action] == 'edit' %>
		    				<%= link_to 'Destroy', @batch, method: :delete, data: { confirm: 'Are you sure you want to destroy this batch ? Every related vial will be destroyed too.' }, :class => "btn btn-default" %>
		    		<%end%>
		    	<%end%>
	        	<%= link_to "Cancel", root_path, :class => "btn btn-default"%>
	        </div>
	    </div>
<% end %>
<script>
    $(".ghost-container").hide();
    container_name = '#batch_corrected'
    
    if($(container_name).is(":checked")){
    	$(".ghost-container").show();
    }else{
    	$(".ghost-container").hide();
    }

    $(container_name).click(function() {
    if($(this).is(":checked")) {
        $(".ghost-container").show();
        console.log('show');
    } else {
        $(".ghost-container").hide();
        console.log('hide');
    }
});
  </script>
