<!DOCTYPE html>
<html>
  <head>
    <title>SYS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('images/favicon.ico') %>
  </head>
  <body>
  	<div class="container">
  		<%= render :partial => 'components/modal' %>
	<header">
		<%= render partial: 'layouts/header' %>
		<div id='flash-msg-container' class="container-fluid">
				<%= render partial: "layouts/flash_messages", :flash => flash %>
		</div>
	</header>		

			<div class="jumbotron jumbotron-fluid">
        <div class="container">
				    	<%= yield %>
        </div>
			</div>
	</div>
</body>
	<%= render partial: 'layouts/footer' %>
     </div>
</html>
